$bgColorMenu: #191c24;
$bgColorMenuOnClick: #2a2d37;
$textColorMenu: #fff;
$textColorMenuOnClickAndExit: #808592;
$bgColorMain: #f7f8f8;
$bgColorFooter: #373c43;
$textColorH1: #383d43;
$textColorH3: #8494ab;
$textColorH4: #373c43;
$colorLineAndBorderCard: #e4e9ee;
$colorHelpOnCVV: #c1c8d1;
$bgBtnSubmit: #0059bc;

@font-face {
  font-family: 'OpenSans';
  src: local("OpenSans"),
    url('./fonts/OpenSans-Bold.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  padding: 80px 0 30px 0;
}

.container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 1000px;
  margin: auto;
}
/* Левая часть страницы, меню*/
.menu {
  background: $bgColorMenu;
  margin-left: 20px;
  width: 320px;
  height: 380px;
  font-family: "OpenSans";
  font-size: 19px;

  & ul {
    list-style-type: none;
  }

  &__item {
    padding-left: 20px;
    height: 76px;
    line-height: 76px;

    &_exit a{
      color: $textColorMenuOnClickAndExit;
    }

    & a {
      text-decoration: none;
      color: $textColorMenu;
    }

    &_active {
      background: $bgColorMenuOnClick;

      & a{
        color: $textColorMenuOnClickAndExit;
      }
    }
  }
}

/* конец: Левая часть страницы, меню*/
/* основная часть*/
.main {
  width: 640px;
  margin-right: 20px;

  &__data {
    background: $bgColorMain;
    height: 570px;
    padding: 45px 26px 29px 29px;

    & .main__information{
      margin-bottom: 20px;
    }

    & .main__accountNumber, & .main__amountPayment{
      display: inline-block;
      width: 29%;
      margin-bottom: 10px;
    }
  }

  & h1{
    font: normal 22px "OpenSans";
    color: $textColorH1;
    margin: 5px 0 25px 0;
  }

  & h3, & h4{
    font: normal 16px Arial;
  }

  & h3{
    color: $textColorH3;
  }

  & h4{
    color: $textColorH4;
    display: inline-block;
    width: 50%;
  }
}

.form {
  position: relative;

  &__allData, &__CVVcode{
    background: $bgColorMain;
    height: 235px;
    width: 350px;
    border: 1px solid $colorLineAndBorderCard;
    border-radius: 7px;
  }

  &__allData {
    padding: 13px 15px;
    position: relative;
    z-index: 1;
  }

  &__cardNumberH3{
    margin: 6px 0 5px 0;
  }

  &__cardNumber {
    height: 42px;
    width: 63px;
    border: 1px solid $colorLineAndBorderCard;
    margin-right: 9px;
    font: normal 16px Arial;
    padding: 14px 12px;
    text-align: center;
  }

  &__validityPeriod {
    margin: 15px 0 5px 0;
  }

  &__cardHolder {
    margin-top: 10px;
    height: 40px;
    width: 317px;
    font: normal 18px Arial;
    padding: 10px;
    border: 1px solid $colorLineAndBorderCard;
  }

  &__CVVcode{
    position: absolute;
    top: 20px;
    left: 194px;
  }
  
  &__line{
    height: 42px;
    background: $colorLineAndBorderCard;
    margin-top: 25px;
  }
  
  &__CVVH3 {
    text-align: right; 
    margin: 18px 24px 0 0;
  }
  
  &__CVVnumber {
    margin-left: 193px;
    height: 42px;
    width: 138px;
    border: 1px solid $colorLineAndBorderCard;
    font: normal 16px Arial;
    padding: 14px 60px 14px 0;
    text-align: right;
  }
  
  &__helpOnCVV {
    position: absolute;
    left: 296px;
    top: 112px;
    color: $colorHelpOnCVV;
    border: 1px solid $colorHelpOnCVV;
    border-radius: 26px;
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
  }
  
  &__btnSubmit{
    margin: 40px 0 0 18px;
    height: 40px;
    width: 140px;
    border: 0;
    border-radius: 20px;
    background: $bgBtnSubmit;
    color: white;
    font: normal 14px "OpenSans";

    &:focus{
      outline: none;
    }
  }

  &_error {
    border: 1px solid red;
  }

  /*footer*/
  &__footer {
    background: $bgColorFooter;
    height: auto;
    padding: 20px;
    font-family: Arial;
    font-size: 16px;
    color: #89909d;

    & p {
      margin: 10px 10px;
    }
  }
  /*конец: footer*/
}

.supportForMonth {
  background: #fff url(./img/down.png) no-repeat 46px 0;
  width: 70px;
  overflow: hidden;
  border: 1px solid $colorLineAndBorderCard;
  float: left;
  margin-right: 10px;
}

#month{
  height: 40px;
  width: 85px;
  background: transparent;
  border: 0;
  font: normal 18px Arial;
  padding-left: 12px;
}

.supportForYear{
  background: #fff url(./img/down.png) no-repeat 60px 0;
  width: 84px;
  overflow: hidden;
  border: 1px solid $colorLineAndBorderCard;
}

#year{
  height: 40px;
  width: 100px;
  background: transparent;
  border: 0;
  font: normal 18px Arial;
  padding-left: 10px;
}
/* конец: основная часть*/
/*работа в диапазоне 720-1000px*/
@media screen and (max-width: 999px) and (min-width: 720px){
  .container {
    width: 720px;
  }

  .menu {
    margin-left: 10px;
    width: 230px;
    height: 285px;
    font-size: 14px;

    &__item{
      height: 57px;
      line-height: 57px;
    }
  }

  .main {
    width: 470px;
    margin-right: 10px;

    &__data {
      background: $bgColorMain;
      height: 410px;
      padding: 22px 13px 14px 14px;
    }
  
    & h1{
      font-size: 20px;
    }
  }
  
  .form__allData, .form__CVVcode{
    height: 180px;
    width: 290px;
  }
  
  .form__allData {
    padding: 6px 8px;
  }
  
  .form__cardNumber {
    height: 38px;
    width: 62px;
    margin-right: 3px;
    padding: 13px 10px;
  }

  .form__validityPeriod {
    float: left;
  }
  
  .supportForMonth {
    background: #fff url(./img/down.png) no-repeat 36px 0;
    width: 60px;
    float: left;
    margin: 5px 5px 0 3px;
  }
  
  #month{
    width: 71px;
    font-size: 16px;
    padding-left: 10px;
  }
  
  .supportForYear{
    background: #fff url(./img/down.png) no-repeat 56px 0;
    width: 80px;
    margin-top: 5px;
  }
  
  #year{
    width: 91px;
    font-size: 16px;
    padding-left: 5px;
  }
  
  .form__cardHolder {
    width: 250px;
    font-size: 16px;
    padding: 10px;
  }
  
  .form__CVVcode{
    left: 150px;
  }
  
  .form__CVVH3 {
    margin: 18px 7px 0 0;
  }
  
  .form__CVVnumber {
    margin-left: 160px;
    width: 120px;
    padding: 14px 50px 14px 0;
  }
  
  .form__helpOnCVV {
    left: 245px;
  }
  
  .form__btnSubmit{
    margin: 10px 0 0 10px;
    width: 120px;
  }
}
/*конец: работа в диапазоне 720-1000px*/
/*работа в диапазоне 320-720px*/
@media screen and (max-width: 719px) and (min-width: 320px) {
  body {
    padding: 30px 0 10px 0;
  }
  
  .container {
    width: 100%;
    flex-direction: column;
  }

  .menu {
    margin: 10px auto;
    max-width: 700px;
    height: auto;

    &__item {
      padding-left: 20px;
      height: 50px;
      line-height: 50px;
    }
  }
  
  .main {
    width: 100%;
    margin: 0;

    &__data {
      height: auto;
      padding: 10px;

      & .main__accountNumber, & .main__amountPayment{
        display: block;
        width: 50%;
        margin-bottom: 5px;
      }
    }
    
    & h1{
      font: normal 20px "OpenSans";
      margin: 5px 0 10px 0;
    }

    & h4{
      display: block;
      margin-bottom: 15px;
    }
  }
  
  .form__allData, .form__CVVcode{
    height: auto;
    width: 100%;
    border: 0;
  }
  
  .form__allData {
    padding: 6px 8px;
  }
  
  .form__cardNumber {
    height: 42px;
    width: 22%;
    margin-right: 3px;
    font-size: 14px;
  }
  
  .supportForMonth {
    background: #fff url(./img/down.png) no-repeat right;
    width: 30%;
    max-width: 100px;
  }
  
  #month{
    width: 112%;
  }
  
  .supportForYear{
    background: #fff url(./img/down.png) no-repeat right;
    width: 40%;
    max-width: 150px;
  }
  
  #year{
    width: 112%;
  }
  
  .form__cardHolder {
    width: 80%;
    max-width: 400px;
  }
  
  .form__CVVcode{
    position: relative;
    top: 0;
    left: 0;
  }
  
  .form__line{
    display: none;
  }
  
  .form__CVVH3 {
    text-align: left; 
    margin: 15px 0 10px 10px;
  }
  
  .form__CVVnumber {
    margin-left: 9px;
    height: 42px;
    width: 30%;
    max-width: 180px;
    padding: 0;
    text-align: center;
  }
  
  .form__helpOnCVV {
    display: none;
  }
  
  .form__btnSubmit{
    margin: 20px 0 0 40px;
    width: 140px;
  }
}
/*конец: работа в диапазоне 320-720px*/