$bgColorMenu: #191c24;
$bgColorMenuOnClick: #2a2d37;
$textColorMenu: #fff;
$textColorMenuOnClickAndExit: #808592;
$bgColorMain: #f7f8f8;
$bgColorFooter: #373c43;
$textColorH1: #383d43;
$textColorH3: #8494ab;
$textColorH4: #373c43;
$colorLineAndBorderCard: #e4e9ee;
$colorHelpOnCVV: #c1c8d1;
$bgBtnSubmit: #0059bc;

@font-face {
  font-family: 'OpenSans';
  src: local("OpenSans"),
    url('./fonts/OpenSans-Bold.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  padding: 80px 0 30px 0;
}

.container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 1000px;
  margin: auto;
}
/* Левая часть страницы, меню*/
.menu {
  background: $bgColorMenu;
  margin-left: 20px;
  width: 320px;
  height: 380px;
  font-family: "OpenSans";
  font-size: 19px;
}

.menu ul {
  list-style-type: none;
}

.menu__item {
  padding-left: 20px;
  height: 76px;
  line-height: 76px;
}

.menu__item a {
  text-decoration: none;
  color: $textColorMenu;
}

.menu__item_active {
  background: $bgColorMenuOnClick;
}

.menu__item_active a, .menu__item_exit a {
  color: $textColorMenuOnClickAndExit;
}
/* конец: Левая часть страницы, меню*/
/* основная часть*/
.main {
  width: 640px;
  margin-right: 20px;
}

.main__data {
  background: $bgColorMain;
  height: 570px;
  padding: 45px 26px 29px 29px;
}

.main h1{
  font: normal 22px "OpenSans";
  color: $textColorH1;
  margin: 5px 0 25px 0;
}

.main h3, .main h4{
  font: normal 16px Arial;
}

.main h3{
  color: $textColorH3;
}

.main__data .main__information{
  margin-bottom: 20px;
}

.main__data .main__accountNumber, .main__data .main__amountPayment{
  display: inline-block;
  width: 29%;
  margin-bottom: 10px;
}

.main h4{
  color: $textColorH4;
  display: inline-block;
  width: 50%;
}
.form {
  position: relative;
}

.form__allData, .form__CVVcode{
  background: $bgColorMain;
  height: 235px;
  width: 350px;
  border: 1px solid $colorLineAndBorderCard;
  border-radius: 7px;
}

.form__allData {
  padding: 13px 15px;
  position: relative;
  z-index: 1;
}

.form__cardNumberH3{
  margin: 6px 0 5px 0;
}

.form__cardNumber {
  height: 42px;
  width: 63px;
  border: 1px solid $colorLineAndBorderCard;
  margin-right: 9px;
  font: normal 16px Arial;
  padding: 14px 12px;
  text-align: center;
}

.form__validityPeriod {
  margin: 15px 0 5px 0;
}

.supportForMonth {
  background: #fff url(./img/down.png) no-repeat 46px 0;
  width: 70px;
  overflow: hidden;
  border: 1px solid $colorLineAndBorderCard;
  float: left;
  margin-right: 10px;
}

#month{
  height: 40px;
  width: 85px;
  background: transparent;
  border: 0;
  font: normal 18px Arial;
  padding-left: 12px;
}

.supportForYear{
  background: #fff url(./img/down.png) no-repeat 60px 0;
  width: 84px;
  overflow: hidden;
  border: 1px solid $colorLineAndBorderCard;
}

#year{
  height: 40px;
  width: 100px;
  background: transparent;
  border: 0;
  font: normal 18px Arial;
  padding-left: 10px;
}

.form__cardHolder {
  margin-top: 10px;
  height: 40px;
  width: 317px;
  font: normal 18px Arial;
  padding: 10px;
  border: 1px solid $colorLineAndBorderCard;
}

.form__CVVcode{
  position: absolute;
  top: 20px;
  left: 194px;
}

.form__line{
  height: 42px;
  background: $colorLineAndBorderCard;
  margin-top: 25px;
}

.form__CVVH3 {
  text-align: right; 
  margin: 18px 24px 0 0;
}

.form__CVVnumber {
  margin-left: 193px;
  height: 42px;
  width: 138px;
  border: 1px solid $colorLineAndBorderCard;
  font: normal 16px Arial;
  padding: 14px 60px 14px 0;
  text-align: right;
}

.form__helpOnCVV {
  position: absolute;
  left: 296px;
  top: 112px;
  color: $colorHelpOnCVV;
  border: 1px solid $colorHelpOnCVV;
  border-radius: 26px;
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
}

.form__btnSubmit{
  margin: 40px 0 0 18px;
  height: 40px;
  width: 140px;
  border: 0;
  border-radius: 20px;
  background: $bgBtnSubmit;
  color: white;
  font: normal 14px "OpenSans";
}

.form_error {
  border: 1px solid red;
}
/* конец: основная часть*/
/*footer*/
.main__footer {
  background: $bgColorFooter;
  height: auto;
  padding: 20px;
  font-family: Arial;
  font-size: 16px;
  color: #89909d;
}

.main__footer p {
  margin: 10px 10px;
}
/*конец: footer*/
